*{
    margin: 0;
    padding: 0;
}
.page_news{
    display:flex;
}
.menu{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color: #1A4e11;
}
.bottom_menu{
    display: none;    
}
.text_menu{
    /* border: 1px dotted red; */
    margin: 20%;
    margin-bottom: 10%;
}

.references > a{
    margin-left: 10%;
    text-decoration: none;
    color:#A2F66F;
    font-size: 24px;
    font-style: italic;
    font-family: Inter;    
}

a:hover{
    color: yellow;
    cursor: pointer;
}
a:active{
    color: white;
}
#button_1{
    width: 70%;
    height: 10%;
    border: 3px solid #A2F66F;
    border-radius: 20px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #A2F66F;
    /* color: #1A4e11; */
    color: black;
    font-size: 20px;
    font-style: italic;
    text-shadow: 3px 3px 3px black;
    box-shadow: 10px 10px 5px black;
    text-align: center;
   
}
#button_1:hover{
    background-color: #e5f052;
    /* text-shadow: 10px 10px 5px red; */
    
}
#button_1:active{
    background-color: white;
    box-shadow: none;
    border: 3px solid #1A4e11;
    box-shadow: 10px 10px 5px #1A4e11;
}
#button_text{
    margin-top: 5px;
}
#copy_right{    
    opacity: 25%;
    -webkit-text-stroke: none;
    /* text-shadow: 8px 8x 20px #091807;    */
    text-shadow: none;
    color: #A2F66F;
}

.content{
    width: 80%;
    background-color: #A2F66F;
    padding-bottom: 70px;
}
.allnews{
    margin: 3% 5% auto 5%;
    /* border: 1px dotted green; */
    font-style: italic;
}
.containers{   
    font-style: italic;
    
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 30%; */
    /* border: 1px dotted red; */
    /* margin-bottom: 3%; */
    /* padding-bottom: 2%; */
    gap:40px;
}
.header{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 2%;
}
p{
    text-indent: 20px;
}
.img{
    background-size: cover;
    /* border: 1px solid blue; */
    width: 70%;       
}
.photosign{
    font-size: 15px;
}
.news{
    /* border: 1px solid green; */
    width: 100%;
    font-size: 22px;
}
.text{
    text-indent: 25px;
    line-height: 1.2;
}
.detail{
    /* text-decoration: none; */
    color: blue;
}
.detail:hover{
    color: blueviolet;
}
.source{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 18px;
   
}
#photo{
    max-width: 100%;
    height: auto;
}

.proba{
    margin-right: 100px;
}
.modalWindow{
    opacity: 0;
    pointer-events: none;
    width: 400px;
    height: 230px;
    border: 2x solid blue;
    position: fixed;
    top: calc(50vh - 115px);
    left: calc(50vw - 200px);
    z-index: -1;
    background-color: rgb(222, 229, 231);
}
.modalContainer{
    margin-right: 5px;
}


@media screen and (max-width: 725px){
    .page_news{
        display:flex;
        flex-direction: column;
    }
    .menu{
        position: fixed;
        /* bottom: 0; */
        top: calc(100vh - 70px);
        left: 0;
        height: 0;
        width: 100%;
        /* background-color: #1A4e11; */
        background-color: rgb(235, 179, 200);
    }
    .bottom_menu{
        display: flex;
        flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: sticky; */
    top: 0;    
    left: 0;
    height: 70px;
    width: 100%;  
    /* background-color: #1A4e11; */
    background-color: yellowgreen;
    }
    .box{
        height: 50px;
        width: 70px;
        /* background-color: pink; */
        /* border: 1px dotted blue; */
        
    }
    .box:hover{
        background-color: #e5f052;
    }
    .box:active{
        background-color: aquamarine;
    }
    .box>a{
        text-decoration: none;
    }
    .icon_text{
        color:black;
        font-size: 14px;
    }    
    .text_menu{
        display: none;
    }
    #button_1, #copy_right{
        display: none;
    }

    .content{
        width: 100%;
        margin-bottom: 40px;
        background-color: #a9d190;        
    }
    #news_header{
        font-size:32px;
    }
    .news>div{
        font-size: 18px;;
    }
    .header{
        font-size: 20px;
        /* margin-bottom: 1%; */
    }
    .img{
        width: 80vw;
    }
    .container_1{
        flex-direction: column;
        margin-top: 0;
        gap:10px;
    }
    .container_2{
        flex-direction: column-reverse;
            }
}