.modalWindow{
    opacity: 0;
    pointer-events: none;
    width: 360px;
    height: 300px;
    border: 2x solid blue;
    position: fixed;
    top: calc(50vh - 115px);
    left: calc(50vw - 200px);
    z-index: -1;
    background-color: rgb(222, 229, 231);
}
/* .shtrih_code{
    width: 150px;
    height: 150px;
} */
.modalContainer{
    margin-right: 5px;
}
