@font-face{
    font-family: 'My_Kaisei_Tokumin';
    src: url(/Users/ион/Desktop/DOM/Rodina/font/KaiseiTokumin-ExtraBold.ttf);
}

@font-face{
    font-family: 'My_Miami';
    src: url(/Users/ион/Desktop/DOM/Rodina/font/Miami.ttf)
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(IMG/field_12.jpg) no-repeat top center fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    align-items: center;
}

.container{    
    display: flex;
    flex-direction: column;
  
    /* border: 1px dotted blue; */
    margin: 5px auto;
    height: 100vh;
    max-width: 1240px;
}
div{
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;    
}

.rodina{
    width: 64vw;
    font-size: 85px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    
    color: #C8E9EE;    
    text-shadow: blue 4px 4px 8px;
    opacity: 0.6;
    text-align: center;
    /* background-color: #A2F66F; */
    
}
h2{
    color: rgb(227, 238, 75);    
    font-size: 105px;
    line-height: 1.4em;
    /* font-family: 'Miami'; */
    font-style: italic;
    font-weight: 700;
    -webkit-text-stroke: 1px  #061205;
    /* text-shadow: 8px 8x 20px #091807;    */
    text-shadow: 2px 2px 5px black; 
    
    /* background-color: aquamarine;   */
    opacity: 0.9;
} 
.enter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: end; */
    width: 7vw;
    /* background-color: #A2F66F; */
    opacity: 0.9;
    height: 5vh;
    
}
h3{
color: rgb(227, 238, 75);
/* height: 300px; */
transform: scale(1, 0.3);

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;    
    font-weight: 600;
    animation-name: my_animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
.z_container{
    display: flex;
    flex-direction: row;
    width: 300px;
        height: 100px;
        background-color:rgb(240, 240, 152);
        border:8px solid rgb(204, 24, 24);
    border-radius: 30px;
    position:absolute;
    right: 70px;
    bottom: 70px;   
    box-shadow: 7px 7px 10px black; 
    animation-name: enter_from_right;
    animation-duration: 2s;
    /* animation-iteration-count: 1; */
    /* animation-name: enter_from_right, increase_border;
    animation-duration: 2s, infinite; */
}

.z-image{
    width: 70px;
    heighT: 70px;
    
}
.action-text{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title-01{
    font-size: 30px;
    font-weight: 900;
    color: red;
    /* background-color: aquamarine; */
    justify-content: center;
}
.text-01{
    font-size: 17px;
    color: rgb(15, 85, 21);
    font-weight: 900;
    /* background-color: aquamarine; */
    justify-content: center;
}
.z_container_mobile{
    display: none;
    animation-name: increase_width;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes my_animation {
    from{
        margin-top: -80px;
    }
    15%{
        margin-top: -60px;        
    }
    50%{
        margin-top: -80px;
    }
    100%{
        margin-top: -80px;
    }    
}
@keyframes enter_from_right {
    from{
        right: 0;
        opacity: 0;
        width: 300px;
        height: 100px;
        background-color:rgb(240, 240, 152);
        border:4px solid rgb(204, 24, 24);
    }
    85%{
        right: 70px;
        opacity: 1.0;
        width: 310px;
        height: 110px;
        background-color:rgb(240, 240, 152);
        border:6px solid rgb(204, 24, 24);
    }
    100%{
        right: 70px;
        opacity: 1;
        width: 300px;
        height: 100px;
        background-color:rgb(240, 240, 152);
        border: 8px solid rgb(204, 24, 24);
    }
}
@keyframes increase_width {
    from{
        width: 270px;
        border:8px solid rgb(204, 24, 24);
    }
    60%{
        width: 270px;
        border:8px solid rgb(204, 24, 24);
    }
    85%{
        width: 280px;
        border:10px solid rgb(204, 24, 24);
    }
    100%{
        width: 270px;
        border:8px solid rgb(204, 24, 24);
    }
}
@keyframes increase_border {
    from{
        border:4px solid rgb(204, 24, 24);
    }
    70%{
        border:4px solid rgb(204, 24, 24);
    }
    85%{
        border:10px solid rgb(204, 24, 24);
    }
    95%{
        border:4px solid rgb(204, 24, 24);
    }    
}


@media only screen and (max-width: 1024px){
    h2{
        font-size: 75px;
    }
    .rodina{
        /* color:red; */
        /* color: #C8E9EE;     */
        text-shadow: blue 4px 4px 8px;
        opacity: 0.6;
        font-size: 45px;
    }
    }
@media only screen and (max-width: 816px) {
    .rodina{
        /* color: blue; */
        /* color: #C8E9EE;     */
        text-shadow: blue 4px 4px 8px;
        opacity: 0.6;
        font-size: 40px;
        text-align: center;
    }  
    /* .z_container{
        bottom: 220px;
    }  */
}
@media only screen and (max-width: 612px){
    .rodina{
        /* color: yellow; */
        /* color: #C8E9EE;     */
        text-shadow: blue 4px 4px 8px;
        opacity: 0.6;
        font-size: 30px;
        text-align: center;
    }
    h2{
        font-size: 45px;
        text-align: center;
    }
    .enter{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* background-color: lightseagreen; */
        opacity: 0.9;
    }
    .v_symbol{
        background-color: lightcoral;
        justify-content: flex-start;
    }
    .z_container{
        display: none;
    }
    .z_container_mobile{
        background-color: aquamarine;
        justify-content: flex-end;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        width: 270px;
            height: 100px;
            background-color:rgb(240, 240, 152);
            border:8px solid rgb(204, 24, 24);
        border-radius: 30px;
        position:relative;
        /* right: 120px; */
        bottom: auto;   
        box-shadow: 7px 7px 10px black; 
        /* animation: none; */
        /* animation-duration: 2s; */
    }
}
    
    



